/* Styles pour l'application */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Utilise la hauteur totale de la fenêtre */
}

header {
  height: 60px;
  box-sizing: border-box;
  /*padding: 35px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex: 1;*/
}

.main-container {
  display: flex;
  flex: 2; /* Prend tout l'espace restant */
  overflow: hidden;
  margin-top: -5px; /* Compense la bordure si nécessaire */
}

.sidebar {
  width: 300px; /* Réduit la largeur de la barre latérale pour donner plus de place aux compétitions */
  box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
  flex-shrink: 0; /* Assure que la sidebar ne rétrécit pas */
}

.competitions {
  flex: 2; /* Prend tout l'espace restant après le filtre */
  overflow-y: auto; /* Ajoute un défilement vertical si nécessaire */
  position: relative; /* Assure que le loader est centré dans cette zone */
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

