.current-competitions {
  background: #0e0d0d;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 80px; /* Assurez-vous que cette valeur est au moins égale à la hauteur du header */
  animation: fadeIn 2s ease-out;
  margin-left: 50px;
  margin-right: 50px;
  flex:2;
}

.current-competitions h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.current-competitions ul {
  list-style: none;
  padding: 0;
}

.competition-item {
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  border-top: 2px solid #0d6474;
  border-bottom: 2px solid #0d6474;
}

.current-competitions ul:hover {
  color: #0d6474;
}

.game-logo {
  height: 50px; /* Ajustez la taille des logos des équipes */
  object-fit: fill;
  width: 100px;
}

.competition-time {
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.competition-date {
  font-size: 1.5rem;
  margin: 0;
}

.competition-time {
  font-size: 1.2rem;
  margin: 0;
  margin-left: 50px;
}

.competition-details {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: center;
  margin-left: 215px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.team-logo {
  height: 50px; /* Ajustez la taille des logos des équipes */
  width: auto;
  margin-bottom: 5px;
}

.team-name {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.vs {
  font-size: 1.2rem;
  margin: 0 20px;
  color: #ffffff;
}

