.current-matches {
  animation: fadeIn 2s ease-out;
}

.current-matches ul {
  list-style: none;
  padding: 0;
}
.highlight {
  color: #0d6474;
  background: #1d1a1a;
}

.match-item {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0d6474;
  justify-content: space-between;
  box-sizing: border-box;
}

.game-logo img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.match-time {
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.match-date {
  font-size: 1.5rem;
  margin: 0;
}

.match-time {
  font-size: 1.2rem;
  margin: 0;
  margin-left: 50px;
}

.match-details {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: center;
  margin-left: 230px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.team-logo {
  height: 50px; /* Ajustez la taille des logos des équipes */
  width: auto;
  margin-bottom: 5px;
}

.team-name {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.vs {
  font-size: 1.2rem;
  margin: 0 20px;
  color: #ffffff;
  font-weight: bold;
}

.no-match {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */
  font-weight: bold;
  color: white; /* Couleur du texte */
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

